* {
  margin: 0;
  padding: 0;
  font-family: "Test-font";
}

@font-face {
  font-family: 'Exo';
  src: url("../fonts/Exo2.0-Thin.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Test-font';
  src: url("../fonts/trebuc.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Test-font';
  src: url("../fonts/trebucbd.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Test-font';
  src: url("../fonts/trebucbi.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Test-font';
  src: url("../fonts/trebucit.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

.back {
  background-image: url("../img/fon.png");
  background-repeat: repeat;
  min-width: 100vw;
  min-height: 100vh;
}

h1 {
  font-family: 'Exo';
  font-size: 36px;
  text-align: center;
  color: white;
  line-height: 100px;
}

.center {
  margin: 0 auto;
  width: 1120px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.nyams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1120px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nyams .nyam {
  width: 328px;
  height: 488px;
}

.nyams .nyam-border {
  width: 328px;
  height: 488px;
  border-radius: 10px;
  -webkit-clip-path: polygon(43px 0, 100% 0, 100% 100%, 0 100%, 0 43px);
          clip-path: polygon(43px 0, 100% 0, 100% 100%, 0 100%, 0 43px);
}

.nyams .nyam-block {
  width: 320px;
  height: 480px;
  -webkit-clip-path: polygon(42px 0, 100% 0, 100% 100%, 0 100%, 0 42px);
          clip-path: polygon(42px 0, 100% 0, 100% 100%, 0 100%, 0 42px);
  border-radius: 8px;
  top: 4px;
  left: 4px;
}

.nyams .nyam-block-text {
  font-size: 13px;
  top: 496px;
}

.nyams .nyam-block-title {
  left: 48px;
  top: 28px;
}

.nyams .nyam-block-title > p:nth-child(1) {
  font-size: 16px;
}

.nyams .nyam-block-title > p:nth-child(3) {
  font-size: 24px;
}

.nyams .nyam-block-title h2 {
  font-size: 48px;
}

.nyams .nyam-block-container {
  left: 66px;
  top: 145px;
}

.nyams .nyam-block-container > p {
  font-size: 14px;
}

.nyams .nyam-block img {
  width: 370px;
  height: 361px;
  bottom: -90px;
  left: -26px;
}

.nyams .nyam-block-circle {
  right: 15px;
  bottom: 15px;
  width: 80px;
  height: 80px;
}

.nyams .nyam-block-circle p {
  font-size: 21px;
}

.nyams .nyam-block-circle p span {
  font-size: 42px;
}

.nyam {
  position: relative;
}

.nyam-border {
  top: 0;
  background-color: #1698D9;
  -webkit-transition: background .3s ease 0s;
  transition: background .3s ease 0s;
}

.nyam-block {
  background-color: #F2F2F2;
  position: absolute;
  overflow: hidden;
}

.nyam-block-text {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
}

.nyam-block-text a {
  color: #1698D9;
  text-decoration: none;
  border-bottom: 1px dashed #1698D9;
}

.nyam-block-text a:hover {
  color: #2EA8E6;
  border-bottom: 1px dashed #2EA8E6;
  cursor: pointer;
}

.nyam-block-title {
  position: absolute;
}

.nyam-block-title > p:nth-child(1) {
  text-align: center;
  color: #666666;
}

.nyam-block-title > p:nth-child(3) {
  font-weight: bold;
}

.nyam-block-title h2 {
  font-family: "Test-font";
  font-weight: 700;
  text-align: center;
}

.nyam-block-container {
  position: absolute;
}

.nyam-block-container > p {
  color: #666666;
}

.nyam-block-container > p span {
  font-weight: bold;
}

.nyam-block img {
  position: absolute;
}

.nyam-block-circle {
  -webkit-transition: background .3s ease 0s;
  transition: background .3s ease 0s;
  position: absolute;
  border-radius: 50%;
  background-color: #1698D9;
  text-align: center;
  color: white;
}

.nyam-block-circle p {
  font-size: 21px;
}

.nyam-block-circle p span {
  font-size: 42px;
}

.selected {
  background-color: #D91667;
}

.selected .nyam-block-circle {
  background-color: #D91667;
}

.disable {
  background-color: #B3B3B3;
}

.disable .nyam-block-circle {
  background-color: #B3B3B3;
}

.disable .nyam-block-title, .disable .nyam-block-container, .disable img {
  opacity: 0.5;
}

.hover.selected {
  background-color: #E62E7A;
}

.hover.selected .nyam-block-circle {
  background-color: #E62E7A;
}

.hover.default {
  background-color: #2EA8E6;
}

.hover.default .nyam-block-circle {
  background-color: #2EA8E6;
}

@media (max-width: 1130px) {
  .nyams {
    width: 800px;
  }
  .nyams .nyam:nth-child(1) {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 auto 50px;
  }
  .nyams .nyam:nth-child(1) .nyam-border, .nyams .nyam:nth-child(1) .nyam-block {
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .nyams .nyam {
    width: 266.5px;
    height: 396.5px;
  }
  .nyams .nyam-border {
    width: 266.5px;
    height: 396.5px;
    border-radius: 8.5px;
    -webkit-clip-path: polygon(35.125px 0, 100% 0, 100% 100%, 0 100%, 0 35.125px);
            clip-path: polygon(35.125px 0, 100% 0, 100% 100%, 0 100%, 0 35.125px);
  }
  .nyams .nyam-block {
    width: 260px;
    height: 390px;
    -webkit-clip-path: polygon(34.125px 0, 100% 0, 100% 100%, 0 100%, 0 34.125px);
            clip-path: polygon(34.125px 0, 100% 0, 100% 100%, 0 100%, 0 34.125px);
    border-radius: 6.5px;
    top: 3.25px;
    left: 3.25px;
  }
  .nyams .nyam-block-text {
    font-size: 10.5625px;
    top: 406px;
  }
  .nyams .nyam-block-title {
    left: 39px;
    top: 22.75px;
  }
  .nyams .nyam-block-title > p:nth-child(1) {
    font-size: 13px;
  }
  .nyams .nyam-block-title > p:nth-child(3) {
    font-size: 19.5px;
  }
  .nyams .nyam-block-title h2 {
    font-size: 39px;
  }
  .nyams .nyam-block-container {
    left: 53.625px;
    top: 117.8125px;
  }
  .nyams .nyam-block-container > p {
    font-size: 11.375px;
  }
  .nyams .nyam-block img {
    width: 300.625px;
    height: 293.3125px;
    bottom: -73.125px;
    left: -21.125px;
  }
  .nyams .nyam-block-circle {
    right: 12.1875px;
    bottom: 12.1875px;
    width: 65px;
    height: 65px;
  }
  .nyams .nyam-block-circle p {
    font-size: 17.0625px;
  }
  .nyams .nyam-block-circle p span {
    font-size: 34.125px;
  }
  .center {
    position: relative;
    width: 100%;
  }
  .back {
    min-width: 100%;
    min-height: 100%;
  }
}

@media (max-width: 900px) {
  .nyams {
    width: 600px;
  }
}

@media (max-width: 660px) {
  .nyams {
    width: 100%;
  }
  .nyams .nyam {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 0 auto 50px;
  }
  .nyams .nyam .nyam-border, .nyams .nyam .nyam-block {
    right: 0;
    left: 0;
    margin: 0 auto;
  }
  .nyams .nyam {
    width: 328px;
    height: 488px;
  }
  .nyams .nyam-border {
    width: 328px;
    height: 488px;
    border-radius: 10px;
    -webkit-clip-path: polygon(43px 0, 100% 0, 100% 100%, 0 100%, 0 43px);
            clip-path: polygon(43px 0, 100% 0, 100% 100%, 0 100%, 0 43px);
  }
  .nyams .nyam-block {
    width: 320px;
    height: 480px;
    -webkit-clip-path: polygon(42px 0, 100% 0, 100% 100%, 0 100%, 0 42px);
            clip-path: polygon(42px 0, 100% 0, 100% 100%, 0 100%, 0 42px);
    border-radius: 8px;
    top: 4px;
    left: 4px;
  }
  .nyams .nyam-block-text {
    font-size: 13px;
    top: 496px;
  }
  .nyams .nyam-block-title {
    left: 48px;
    top: 28px;
  }
  .nyams .nyam-block-title > p:nth-child(1) {
    font-size: 16px;
  }
  .nyams .nyam-block-title > p:nth-child(3) {
    font-size: 24px;
  }
  .nyams .nyam-block-title h2 {
    font-size: 48px;
  }
  .nyams .nyam-block-container {
    left: 66px;
    top: 145px;
  }
  .nyams .nyam-block-container > p {
    font-size: 14px;
  }
  .nyams .nyam-block img {
    width: 370px;
    height: 361px;
    bottom: -90px;
    left: -26px;
  }
  .nyams .nyam-block-circle {
    right: 15px;
    bottom: 15px;
    width: 80px;
    height: 80px;
  }
  .nyams .nyam-block-circle p {
    font-size: 21px;
  }
  .nyams .nyam-block-circle p span {
    font-size: 42px;
  }
}

@media (max-width: 510px) {
  h1 {
    font-size: 26px;
  }
}

@media (max-width: 375px) {
  h1 {
    font-size: 20px;
  }
  .nyams .nyam {
    width: 266.5px;
    height: 396.5px;
  }
  .nyams .nyam-border {
    width: 266.5px;
    height: 396.5px;
    border-radius: 8.5px;
    -webkit-clip-path: polygon(35.125px 0, 100% 0, 100% 100%, 0 100%, 0 35.125px);
            clip-path: polygon(35.125px 0, 100% 0, 100% 100%, 0 100%, 0 35.125px);
  }
  .nyams .nyam-block {
    width: 260px;
    height: 390px;
    -webkit-clip-path: polygon(34.125px 0, 100% 0, 100% 100%, 0 100%, 0 34.125px);
            clip-path: polygon(34.125px 0, 100% 0, 100% 100%, 0 100%, 0 34.125px);
    border-radius: 6.5px;
    top: 3.25px;
    left: 3.25px;
  }
  .nyams .nyam-block-text {
    font-size: 10.5625px;
    top: 406px;
  }
  .nyams .nyam-block-title {
    left: 39px;
    top: 22.75px;
  }
  .nyams .nyam-block-title > p:nth-child(1) {
    font-size: 13px;
  }
  .nyams .nyam-block-title > p:nth-child(3) {
    font-size: 19.5px;
  }
  .nyams .nyam-block-title h2 {
    font-size: 39px;
  }
  .nyams .nyam-block-container {
    left: 53.625px;
    top: 117.8125px;
  }
  .nyams .nyam-block-container > p {
    font-size: 11.375px;
  }
  .nyams .nyam-block img {
    width: 300.625px;
    height: 293.3125px;
    bottom: -73.125px;
    left: -21.125px;
  }
  .nyams .nyam-block-circle {
    right: 12.1875px;
    bottom: 12.1875px;
    width: 65px;
    height: 65px;
  }
  .nyams .nyam-block-circle p {
    font-size: 17.0625px;
  }
  .nyams .nyam-block-circle p span {
    font-size: 34.125px;
  }
}
/*# sourceMappingURL=style.css.map */